<template>
    
    <div>
        <lightning-button variant="brand" class="slds-button slds-button_brand slds-button_stretch" label="File Upload" onclick={openModal}></lightning-button>
 
    </div>
 
 
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">                    
                    <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                        alternative-text="close"></lightning-button-icon>                    
                </header>
                <div class="slds-modal__content slds-p-around_medium" style="height: 40%;" id="modal-content-id-1">
                    
                    <template if:true={recordId}>
 
                        <div style="width: 100%;">
                            <lightning-combobox name="typeOptions" label="Select File Type" placeholder="Select the type of document"
                                options={typeOptions} onchange={handleInput} value={type} style="min-width: 20rem;">
                            </lightning-combobox>
                        </div>
                
                        <template if:true={showTextField}>
                            <div class="slds-form__row">
                                <div class="slds-form__item horizontal-radio">
                                    <lightning-input type="text" label="Other Document" onblur={handleTextInput} max-length=30
                                        value={otherFiletypeValue} name="otherFiletypeValue" style="width: 100%;" required>
                                    </lightning-input>
                                </div>
                            </div>
                        </template>
                        <template if:true={showUploadButton}>
                            <div class="upload-container">
                                <lightning-file-upload name="fileUploader" record-id={recordId} onuploadfinished={handleUploadFinished}>
                                </lightning-file-upload>
                            </div>
                        </template>
                    </template>
 
                </div>
                <footer class="slds-modal__footer">                    
                    <lightning-button variant="neutral" label="Close" title="Close" onclick={closeModal}
                        class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
 
</template>
